body{
 font-family: sans-serif;
 background-color: #d6cfba;
 text-align: center;
}

h3 {
font-size: 20px;
word-spacing: 2px;

}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}


#description{
  width: 49%;
  height: 900px;
  text-align: left;
  color: red;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  float: left;

}

#map {
  width: 49%;
  height: 900px;
  margin: 0 auto;
  float: right;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  width:300px;
  box-shadow: 3px 3px 2px #8B5D33;
}
